@charset "utf-8";
/*登录页面*/
#login{width: 500px;margin: 70px auto 0px;background: #ffffff;
    position: relative;

}
#login input{
    height: 39px;
    line-height: 39px;
    line-height: 39px\9;
    font-size: 16px;
    font-family: "微软雅黑", "Microsoft YaHei", sans-serif;
    width: 340px;
    padding: 0px 10px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}
#login input:focus{
    border: none;
    border-bottom: 2px solid #37cb58;
    color:#223318;
}
.user-login-warp{
   margin: 0px auto;
    width: 340px;
}
.username-tip{
    background: #ea5a4e;
    border-radius: 3px;
    margin-top: 10px;
}
.username-tip p{
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0px;
    line-height: 1;
    text-align: center;
}
.login-btn{
    height: 50px;
    cursor: pointer;
    background: #37cb58;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    display: block;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 40px;

}
.user-password{
    margin-top: 20px;
}
.user-login-title{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 0px 80px;
    border-bottom: 1px solid #ccc;
    height: 80px;
    margin-bottom: 30px;
}
.user-login-title p{
    font-size: 30px;
    color: #223318;
    line-height: 80px;
}
.register-tip{
    border-top: 1px solid #cccccc;
    background:#f6f9f9;
    height: 55px;
    line-height: 55px;
    color: #223318;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.user-login{
    border-radius: 6px;
    box-shadow:0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12) ;
}
/*后台管理*/
.management-body{
    background: #1f2124;
    display: flex;
    flex-flow: row;
}
.management-left{
    width:200px;
}
.main-title{
    padding: 25px 30px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 25px;
    font-size: 28px;
}
.management-logo{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden;
    position: relative;
    margin: 25px;
}
.management-logo-bg{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background:rgba(4, 197, 3,0.25);
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.management-logo-bg:hover{
    background:rgba(179, 79, 32, 0.17);
}
.management-nav{
    margin-top: 30px;
}
.management-nav li a{
    display: block;
    font-size: 18px;
    color: #ffffff;
    padding: 30px 50px;
    line-height: 20px;
}
.management-nav li a:hover,.management-nav li a.cur{
    border-left: 8px solid #13895F;
    background: #18191b;
}
.management-right{
    flex: 1;
    background: #ffffff;
    min-width: 600px;

}
.article-check{
    float: left;
    display: inline-block;
    height: 15px;
}
.article-tool-check{
    margin: 12.5px 0px 12.5px 15px;
}
.article-list{
    background: #ffffff;
    margin: 40px 50px;
}
.article-tool{
    height: 40px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.article-select{
    float: left;
    margin-left: 35px;
    margin-top: 5px;
}
.delete-btn{
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: right;
    margin: 8px 15px;
    background: url("../images/delete-icon.png") no-repeat;
}

.article-list-row{
    padding: 0px 15px;
    height: 40px;
    border-bottom: 1px solid #dedede;
}
.article-item-time{
    float: right;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: right;
    overflow: hidden;
    color: #999999;
}
.article-item-delete{
    width: 100px;
    float: right;
    text-align: right;
    color: #333333;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
}
.article-item-delete:hover{
    color: #f12020;
}
.article-item-title{
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
}
.article-item-title a{
    color: #333;
    display: block;
    width: 70%;
    float: right;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-item-title .title-type{
    width: 25%;
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    display: block;
}
.article-item-title:hover a{
    color: #f12020;
}

.article-item-check{
    margin: 12.5px auto;
}
.article-list-content{
    margin-top: 30px;
}
.article-page-quick,.article-page-number,.article-page-number a{
    display: inline-block;
    vertical-align: top;
}
.article-page-quick,.article-page-number a{
    height: 30px;
    border: 1px solid #dedede;
    text-align: center;
    line-height: 30px;
    color: #666666;
    font-size: 13px;
    margin: 0px 3px;
}
.article-page-quick:hover,.article-page-number a:hover{
    color: #f12020;
    border: 1px solid #f12020;
}
.article-page-number a.cur{
    border: 1px solid #f12020;
}
.article-page-quick{
    width: 70px;
    cursor: pointer;
}
.article-page-number a{
    width: 30px;
}
.article-list-page{
    text-align: center;
    padding: 60px 20px;
}

.articleDetail-tool-btn{
    float: right;
    line-height: 60px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 15px;
    color: #333333;
    height: 60px;
}
.articleDetail-tool-btn span{
    margin: 0px 5px;
}
.articleDetail-tool-btn span:hover{
    text-decoration: underline;
}
.articleDetail-main{
    position: relative;
}
.articleDetail-tool{
    height: 60px;
    position: absolute;
    top: 0px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.4);
    left: 0px;
    width: 100%;
    background: #ffffff;
}
.articleDetail-title{
    margin: 0px 100px;
    line-height: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(126, 136, 139);
    text-align: center;
}
.articleDetail-content{
    min-height: 400px;
    padding: 60px 45px;
    background: #ffffff;
    padding-top: 120px;
}
.ArticleEditor{
    background: #ffffff;
}
.ArticleEditor-title{
    text-align: center;
    padding-top: 40px;
}
.ArticleEditor-title input{
    vertical-align: top;
    width: 400px;
    border-bottom: 1px solid #dedede;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑", "Microsoft YaHei", sans-serif;
    font-weight: normal;
}
.ArticleEditor-title input:focus{
    border-bottom: 2px solid #000;
}
.ArticleEditor-content{
    padding: 40px 50px;
    min-height: 300px;
}
.ArticleEditor-class input{
    width: 320px;
}
.article-submit{
    height: 38px;
    width: 120px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    margin: 30px auto;
    border: 1px solid #dedede;
    cursor: pointer;
    color: #333;
    border-radius: 8px;
}
.article-submit:hover {
    border: 1px solid #f12020;
    color: #f12020;
}
/*新增*/
.header-container{
    margin: 0px 10%;
}
.home-main{
    margin: 0px 10%;
}
.widget ul li a:hover{
    text-decoration: underline;
}
.widget ul li a span{
    font-size: 12px;
    color: #999999;
}
.widget ul li a.cur{
    color: rgb(0, 140, 255);
}
.loading-box{
    height: 20px;
    text-align: center;
    padding: 35px;
}
.loading-all{
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    color: #999;
    padding: 70px 0px;
    margin-top: 30px;
}
.nothing{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding: 75px 0;
    color: #666;
}
.padding-b{
    padding-bottom: 60px;
}
.article-content{
    margin-top: 40px;
    margin-bottom: 40px;
}
.ds-powered-by{
    display: none !important;
}
.entry-title a:hover{
    color: #f12020;
}
.img-responsive-center img{
    display: block;
}
.img-responsive{
    width: 100%;
    opacity: .75;
}
.img-responsive-center{
    margin-top: 30px;
    margin-bottom: 55px;
    position: relative;
}
.img-responsive-tx{
    position: absolute;
    border-radius: 80px;
    left: 50%;
    margin-left: -80px;
    bottom: -80px;
}
.about-job{
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    padding-bottom: 15px;
}
.my-code{
    padding: 35px 0px;
    text-align: center;
}
/*弹出框*/

.layer-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.3);
    z-index: 1111;
}
.layer-tips-box{
    height: 160px;
    width: 380px;
    padding: 40px 10px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1111;
    margin-left: -200px;
    margin-top: -120px;
    line-height: 135px;
    overflow: hidden;
}
.tips-content{
    line-height: 20px;
    font-size: 16px;
    color: #333333;
    padding: 20px 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.layer-tips-btn span{
    height: 28px;
    width: 64px;
    border: 1px solid #e0dfe3;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px;
    font-size: 14px;
    color: #999;
}
.layer-tips-btn{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.layer-tips-btn span:hover{
    color: #f12020;
    border: 1px solid #f12020;
    cursor: pointer;
}
/*404*/
.NotFound-container{
    width: 600px;
    margin: 0px auto;
    height: 490px;
}
.NotFound-pic{
    display: block;
    margin: 0px auto 26px auto;
    padding-top: 76px;
}
.NotFound-tips{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color: #999999;
    margin-bottom: 50px;
}
.NotFound-back{
    display: block;
    width: 128px;
    height: 33px;
    border: 1px solid #e5e5e5;
    line-height: 33px;
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin: 0px auto;
}
.NotFound-back:hover{
    border: 1px solid #f12020;
    color: #f12020;
}